footer.main-footer.sticky.footer-type-1
	.footer-inner
		// Add your copyright text here
		.footer-text
			&copy; 2016 
			strong Lmango
		// Go to Top Link, just add rel="go-top" to any link to add this functionality
		.go-up
			a(href="#",rel="go-top")
				i.fa-angle-up