.page-loading-overlay
	.loader-2
	
// Bottom Scripts
script(src="/lib/bootstrap.min.js")
script(src="/lib/TweenMax.min.js")
script(src="/lib/resizeable.js")
script(src="/lib/joinable.js")
script(src="/lib/xenon-api.js")
script(src="/lib/xenon-toggles.js")


// Imported scripts on this page
script(src="/lib/xenon-widgets.js")
script(src="/lib/devexpress-web-14.1/js/globalize.min.js")
script(src="/lib/devexpress-web-14.1/js/dx.chartjs.js")
script(src="/lib/toastr/toastr.min.js")


// JavaScripts initializations and stuff
script(src="/lib/xenon-custom.js")