extends layout

block content
	.main-content
		footer.main-footer.sticky.footer-type-1
			.footer-inner
				// Add your copyright text here
				.footer-text
					&copy; 2014 
					strong Xenon
					More Templates 
					a(href="http://www.cssmoban.com/",target="_blank",title="模板之家") 
					模板之家 - Collect from 
					a(href="http://www.cssmoban.com/",title="网页模板",target="_blank") 网页模板
				
				
				// Go to Top Link, just add rel="go-top" to any link to add this functionality
				.go-up
				
					a(href="#",rel="go-top")
						i.fa-angle-up