doctype
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		meta(name="description",content="Lmango blog web html5 javascript css react")
		title #{title}
		link(rel="icon",href="/static/images/favicon/favicon.ico",sizes="16x16")
		include ../../includes/head_admin
	body.page-body
		include ../../includes/header_admin
		.page-container
			// 左侧导航栏
			include left
			.main-content
				// 顶部菜单栏
				include nav
				block content
				//  引入底部copy 文件
				include copy
		// js引入	
		include foot
