doctype
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=Edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
		meta(name="format-detection",content="telephone=no")
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		meta(http-equiv="pragma",content="no-cache")
		meta(http-equiv="cache-control",content="no-cache")
		title #{title}
		link(rel="icon",href="/static/images/favicon/favicon.ico",sizes="16x16")
		include ../../includes/head_admin
	body
		include ../../includes/header_admin
		include left
		block content