.header-cell
	.header-box.display-box
		.logo-box.fl
			img(src="/static/images/logo-t.png",height="30",width="169",alt="")
		ul.nav-box.fl.box-flex
			li
				a(href="#")
					span(data-hover="首页") 首页
			li
				a(href="#")
					span(data-hover="CSS知识") CSS知识
			li
				a(href="#")
					span(data-hover="Javascript") Javascript
			li
				a(href="#")
					span(data-hover="HTML5") HTML5
			li
				a(href="#")
					span(data-hover="前端框架") 前端框架
			li
				a(href="#")
					span(data-hover="微信帐号") 微信帐号
			li
				a(href="#")
					span(data-hover="新浪微博") 新浪微博
		.right-box.fr
			a(href="")
				span(data-hover="Me") Me