link(href="/static/css/common.css",rel="stylesheet")
link(href="/lib/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/static/css/style.css",rel="stylesheet")
script(src="/lib/jquery/src/jquery.js")