extends ../layout

block content
	.city-cell#city-cell
		.city-box
			#sky-box
			#build-box
				.build-1#build
				.build-2#build
				.build-3#build
				.build-4#build
				.build-5#build
				.build-6#build
				.build-7#build
				.build-8#build
				.build-9#build
				.build-10#build
				.build-11#build
				.build-12#build
					span
				.bike#bike
				.tree-s.tree-1#tree
				.tree-b.tree-2#tree
				.tree-b.tree-3#tree
				.tree-s.tree-4#tree
				.tree-s.tree-5#tree
				.tree-s.tree-6#tree
				.tree-b.tree-7#tree
				.tree-s.tree-8#tree
				.tree-b.tree-9#tree
				.grass.grass-1#grass
				.grass.grass-2#grass
				.grass.grass-3#grass
				.grass.grass-4#grass
				.grass.grass-5#grass
				.hill.hill-1#hill
				.hill.hill-2#hill
				.hill.hill-3#hill
		.highway-box
			.car.car-1#car
			.car.car-2#car
	canvas(id="canvas",width="100%",height="100%")
	script(data-main="/static/js/main.js",src="/static/js/require.js")